<ion-view class="view-splash" hide-nav-bar="true">
    <ion-content scroll="false" class="padding">
        <div class="list list-inset splash-container">
            <div class="item item-image" style="border:none;margin-top:50px;">
                <img src="img/friends.lego.jpg"/>
            </div>
            <!--
            <button class="button button-block button-light" ng-click="justinToken()">
                <i class="icon ion-social-facebook"></i>
                &nbsp;Login As Justin
            </button>
            -->
            <button class="button button-block button-light" ng-click="facebookLogin()">
                <i class="icon ion-social-facebook"></i>
                &nbsp;Login with Facebook
            </button>
        </div>
    </ion-content>
</ion-view>